<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<util:properties id="em" location="classpath:/config/email.properties" />
	
	<bean id="mailSender" class ="org.springframework.mail.javamail.JavaMailSenderImpl" >
        <property name="host" value="#{em['email.host']}" />
        <property name="port" value="#{em['email.port']}" />
        <property name="defaultEncoding" value="utf-8"/>
        <property name="username" value="#{em['email.username']}" />
        <property name="password" value="#{em['email.password']}" />
        <property name="javaMailProperties">
	    	<props>
		        <prop key="mail.smtp.ssl.trust">#{em['email.host']}</prop>
		        <prop key="mail.smtp.starttls.enable">true</prop>                                
		        <prop key="mail.smtp.auth">true</prop>
	       	</props>
        </property>
    </bean>

    <bean id="emailSender" class="com.admin.study.util.Email">
    </bean>
 
</beans>
